@font-face {
	font-family: arial;
	src: url(fonts/arial.ttf);
	font-weight: normal;
}

@font-face {
	font-family: calibri;
	src: url(fonts/calibri.ttf);
	font-weight: normal;
}

@font-face {
	font-family: times;
	src: url(fonts/times.ttf);
	font-weight: normal;
}

@font-face {
	font-family: microgramma;
	src: url(fonts/microgramma.ttf);
	font-weight: normal;
}

#editor {
	display: block;
	font-family: var(--font);
	user-select: auto;
	border: none;
	color: black;
}

.ql-toolbar, #editor-resizer .toolbar {
	display: none;
}

.ql-container {
    font-size: var(--font_size);
}

#toolbar .ql-font span[data-label='arial']::before {
	font-family: 'arial';
}
#toolbar .ql-font span[data-label='calibri']::before {
	font-family: 'calibri';
}
#toolbar .ql-font span[data-label='times']::before {
	font-family: 'times';
}
#toolbar .ql-font span[data-label='microgramma']::before {
	font-family: 'microgramma';
}

.ql-font-arial {
	font-family: 'arial';
}
.ql-font-calibri {
	font-family: 'calibri';
}
.ql-font-times {
	font-family: 'times';
}
.ql-font-microgramma {
	font-family: 'microgramma';
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value]::before, .ql-snow .ql-picker.ql-size .ql-picker-item[data-value]::before {
	content: attr(data-value) !important;
}

.ql-editor {
	overflow: visible;
	height: unset;
}

.ql-editor > * {
    cursor: inherit;
}