body {
	display: flex;
	margin: 0;
	user-select: none;
	overflow: hidden;
}

body, button {
	color: #3a3a3a;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}

svg {
	fill: #3a3a3a;
}

select, select:focus {
	outline: none;
	border-radius: 0;
	font-size: inherit;
}

::selection {
	background-color: #c7c7c7;
}

input, textarea {
	font-size: inherit;
	font-family: inherit;
	background-color: transparent;
	border: none;
	resize: none;
}

input:focus, input:focus:hover, textarea:focus, textarea:focus:hover {
	outline: none;
}

/* Tooltip */
button {
	position: relative;
	appearance: none;
	overflow: visible;
	padding: 1px;
	justify-content: center;
	align-items: center;
	margin: 0;
	background-color: transparent;
	border: none;
}

button:hover, .credits_button:hover, listitem:hover, .mailinglist .selected, sort select:hover {
	background-color: #eff6fc;
}

tooltip {
	display: none;
	position: absolute;
	z-index: 99;
	border-radius: 8px;
	background-color: white;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.4);
	padding: 8px;
	white-space: nowrap;
}


/* Aside */
aside {
	display: block;
	position: relative;
	height: 100vh;
	width: 250px;
	border-right: 1.5px #3a3a3a solid;
}

navigation {
	position: absolute;
	display: flex;
	border-top: 1.5px #3a3a3a solid;
	bottom: 0;
	height: 60px;
	width: 100%;
}

navigation button {
	width: 60px;
	height: 60px;
}

navigation button svg {
	width: 35px;
	height: 35px;
}

.credits_button {
	display: inline-block;
	text-align: center;
	border-left: 1.5px #3a3a3a solid;
	width: 68.5px;
}

.credits_button div {
	display: block;
	margin-top: 5px;
}

list {
	padding: 0 10px;
	display: block;
	height: calc(100vh - 61px);
	overflow-y: auto;
}

listitem {
	display: flex;
	align-items: center;
	height: 60px;
	border-bottom: 1px #c7c7c7 solid;
}

listitem p, listitem input {
	margin: 0;
	margin-left: 15px;
	margin-right: 10px;
	font-size: 15px;
	font-weight: bold;
	width: calc(100% - 65px);
	max-height: 35px;
	overflow: hidden;
}

listitem input[disabled] {
	pointer-events: none;
}

listitem button {
	padding: 5px;
}

listitem svg {
	width: 20px;
	height: 20px;
}

listitem button:hover svg {
	fill: #2b88d8;
}

listitem button:hover svg.fill_red {
	fill: #e60000;
}

/* mailinglist */
.mailinglist input {
	width: calc(100% - 95px);
}

main {
	width: calc(100% - 250px);
}

sort {
	border-bottom: 1.5px #3a3a3a solid;
}

sort div {
	display: flex;
}

sort button {
	width: 40px;
	height: 40px;
}

sort select {
	height: 40px;
	border: none;
	padding: 0 8px;
}

sort svg {
	margin-top: 2px;
	width: 22px;
	height: 22px;
}

textarea {
	width: calc(100% - 40px);
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	padding: 0;
	white-space: nowarp;
}

contacts {
	height: 100vh;
	overflow-y: auto;
}

contact, sort {
	padding: 0 15px;
	height: 40px;
	display: grid;
	grid-template-columns: 65% auto 40px;
}

contact p {
	margin: 0;
	line-height: 40px;
	user-select:text;
	white-space: nowarp;
}

contact svg {
	width: 18px;
	height: 18px;
}

/* Editor */
editor {
	width: calc(100% - 251.5px);
	display: flex;
	flex-direction: column;
	height: 100vh;
}

text {
	padding: 15px;
	padding-top: 10px;
	overflow-y: auto;
}

menu {
	height: 90px;
	margin: 0;
	padding: 0;
	display: flex;
	border-bottom: 1.5px #3a3a3a solid;
}

section {
	height: inherit;
	display: flex;
	flex-direction: column;
	height: 100%;
}

subsection {
	display: flex;
	flex-direction: row;
}

section, button.divider {
	padding-right: 1px;
	border-right: 1.5px #3a3a3a solid;
	margin-right: 1px;
}

button.active {
	padding: 0;
	border: #2b88d8 1px solid;
	background-color: #eff6fc;
}

button p {
	margin: 0;
	font-size: 17px;
	font-weight: bold;
}

editor button svg {
	width: 20px;
	height: 20px;
}

button.narrow svg {
	width: 10px;
	height: 10px;
}

button.big {
	height: 90px;
	width: 60px;
}

button.big svg {
	height: 35px;
	width: 35px;
}

button.long, header button {
	height: 30px;
	display: flex;
	justify-content: start;
}

button.long div, header button div {
	margin: 0 5px;
}

button.small {
	width: 30px;
	height: 30px;
}

button.narrow {
	width: 15px;
	height: 30px;
}

menu select {
	height: 20px;
	margin: 5px;
}

menu select:hover {
	border-color: #2b88d8;
}

/* Attachments */
attachments {
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	gap: 8px 15px;
	max-height: 65px;
	padding: 8px 30px;
	overflow-y: auto;
	border-bottom: 1px #c7c7c7 solid;
}

attachments:empty {
	display: none;
}

attachments div {
	padding: 5px 10px;
	border-radius: 8px;
	border: 1.5px #3a3a3a solid;
}

attachments div:hover {
	background-color: #e60000;
}

/* Color Picker */
picker {
	display: none;
	position: absolute;
	top: 20px;
	left: 30px;
	border: 1px #3a3a3a solid;
	background-color: white;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.65);
}

picker table {
	margin: 3px;
}

picker td {
	width: 16px;
	height: 16px;
}

picker td:hover {
	width: 13px;
	height: 13px;
	border: 1.5px #3a3a3a solid;
}

picker label {
	display: block;
	border-top: 1px #3a3a3a solid;
	padding: 3px;
}

picker label:hover {
	background-color: #eff6fc;
}

picker span {
	display: inline-block;
	width: calc(100% - 6px);
	text-align: center;
}

picker input {
	width: 6px;
	height: 18px;
	visibility: hidden;
}


/* Context and Selection menu */
selectionmenu, contextmenu {
	display: flex;
	flex-direction: row;
	position: fixed;
	border-radius: 8px;
	padding: 5px;
	transform: scale(0);
	transform-origin: top left;
	background-color: white;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.65);
}

contextmenu {
	flex-direction: column;
}

selectionmenu.visible, contextmenu.visible {
	transform: scale(1);
	transition: transform 50ms ease-in-out;
}

selectionmenu button:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

selectionmenu button:last-child {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

contextmenu button:first-child {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

contextmenu button:last-child {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

/* define File name */
upload {
	display: none;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
	border: 1px solid #cccccc;
	box-shadow: 0 0 5px #dddddd;
	padding: 5px 12px;
	margin-right: 8px;
	font-size: 13px;
	white-space: nowrap;
}

upload input[type=text] {
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid #cccccc;
	width: 170px;
	height: 26px;
	padding: 0 5px;
}

upload button {
	box-sizing: border-box;
	color: #06c;
	margin-left: 12px;
	cursor: pointer;
}

upload button:hover {
	background-color: unset;
}

/* Header */
header {
	padding: 15px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-bottom: 1.5px #3a3a3a solid;
}

headerbox {
	display: flex;
	width: 100%;
}

header button {
	border: 1.5px #3a3a3a solid;
	width: 120px;
	padding-left: 5px;
}

header label {
	display: inline-block;
	width: 115px;
	height: 23px;
	margin-left: 15px;
	padding-top: 7px;
}

header input, header select, settings input, enter input {
	border-bottom: 1.5px #3a3a3a solid;
	margin-left: 5px;
	height: 29px;
	padding: 0;
	width: calc(100% - 255px);
}

header select, header select:focus {
	border: none;
	border-bottom: 1.5px #3a3a3a solid;
	height: 30px;
}

/* Dialog */
dialog, dialogbox, enter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: none;
	margin: 20px 0;
	border-radius: 8px;
	padding: 10px;
	background-color: white;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.65);
	text-align: center;
}

dialog div, settings p, enter div {
	font-size: 15px;
	font-weight: bold;
}

dialog button, settings button, enter button {
	padding: 5px 15px;
	border: #2b88d8 1px solid;
	margin: 0 10px;
}

enter input {
	display: block;
	width: calc(100% - 20px);
	margin-bottom: 20px;
}



settings button:disabled, settings button:disabled:hover {
	border: #6e6e6e 1px solid;
	background-color: #eeeeee;
	cursor: not-allowed;
}


/* Settings */
settings, mailinglists {
	position: absolute;
	width: 100vw;
	height: 100vh;
}

dialogbox {
	display: block;
	position: relative;
	text-align: left;
	padding: 20px;
	max-width: 1200px;
}

settings p {
	margin-top: 0;
}

settings input {
	display: block;
	width: 100%;
	margin: 0;
	margin-bottom: 15px;
}

settings svg {
	height: 15px;
	vertical-align: -2.5px;
}

.settings_show {
	display: block;
	width: 120px;
	text-align: center;
	margin: 0;
	margin-top: 8px;
	margin-bottom: 15px;
}

.link {
	cursor: pointer;
	color: #2b88d8;
	text-decoration: underline;
}

.link:hover {
	color: #2b62d8;
}

buttonbox {
	display: block;
	text-align: right;
}

@media screen and (max-width: 1280px) {
	dialogbox {
		margin: 0;
		width: calc(100% - 80px);
	}
}